%article
  %h3 Hola Mundo
  :markdown
    * Luis Felipe Borjas
    * lfborjas@unitec.edu
    * 9552 5989
%article
  %h3 Las reglas
  :markdown
    * 100% práctica: siempre traer computadora propia
    * 100% linux
    * 100% en línea de comandos. Recomiendo usar gvim antes que gedit.
%article
  %h1 ¿Qué vamos a aprender?
%article
  %h3 Aplicaciones Web
  :markdown
    * ¿Qué es una aplicación web?
    * ¿Qué creen que involucra?
    * ¿Qué saben ya?
%article
  %h3 Parcial 1: las entrañas
  :markdown
    * Ruby
    * Git
    * Http
    * Rest
    * HTML
%article
  %h3 Parcial 2: el lado del servidor
  :markdown
    * Aplicaciones básicas que usan html como interfaz de usuario
    * Ruby on Rails
    * Aplicaciones CRUD
    * MVC: diseñar en datos, presentarlos, manejarlos
    * Poner aplicaciones en heroku.com
    * Tareas básicas: enviar correos, restringir acceso, 
    * Autenticación de usuarios
%article
  %h3 Parcial 3: el lado del cliente
  :markdown
    * CSS: el DOM, selectores
    * Twitter bootstrap
    * HTML5: ¿qué ofrece?
    * Introducción a javascript: jquery para hacer más dinámica la presentación
    * Ajax: comunicándose con el servidor tras bambalinas
    * Backbone.js
%article
  %h3 ¿Cómo lo vamos a evaluar?
  :markdown
    * 15% cada examen
    * 40% proyecto
    * 15% de trabajo individual/en clase
%article
  %h3 El proyecto
  :markdown
    * En grupos pequeños
    * Eligen una idea pequeña, la implementan en los dos últimos parciales.
    * La idea es que sea una aplicación que quieran volver a ver después de este trimestre!
%article
  %h1 Recursos
  :markdown
    * <http://progra4.heroku.com> (aquí habrá vínculos a otros recursos útiles)
    * moodle o class.io?
