%article
  %h1 El Tao de Rails
%article
  %h3 Preliminares
  :markdown
        sudo apt-get install sqlite3 libsqlite3-dev
%article
  :markdown
        gem install rails heroku
        rails new tasks

%article
  %h2 Más recursos
  :markdown
    * [Railscasts](http://railscasts.com/)
    * [Rails Guides](http://guides.rubyonrails.org/)
    * [Rails API Docs](http://api.rubyonrails.org)
    * [Rails Tutorial](http://ruby.railstutorial.org/ruby-on-rails-tutorial-book)
    * [Rails for Zombies](http://railsforzombies.com/)
    * [Jumpstart Labs](http://tutorials.jumpstartlab.com/)
    * [Engine Yard Rails Learning List](http://www.engineyard.com/blog/2010/resources-for-getting-started-with-ruby-on-rails/)

%article
  %h2 Referencias
  :markdown
    * [A first rails app](http://tutorials.jumpstartlab.com/projects/blogger.html)
    * [Getting started with rails](http://railscasts.com/episodes/310-getting-started-with-rails)
    * [Authentication from scratch](http://railscasts.com/episodes/250-authentication-from-scratch-revised?view=asciicast)
