<h1>Programación 4</h1>

Bienvenidos a progra4. Aquí encontrarán recursos útiles para la clase.

Toda la comunicación la haremos a través de class.io: <http://my.class.io/course/progra4>

El código fuente de todo estará en github: <https://github.com/progra4>

<h2>Guías</h2>
<ul>
<% @guides.each do |guide| %>
  <li><%= link_to :guide, guide%></li>
<%end%>
</ul>

<h2>Presentaciones</h2>
<ul>
<% @presentations.each do |presentation| %>
  <li><%= link_to :presentation, presentation %></li>
<%end%>
</ul>
